/* START home screen style */
.homePage {
}
.homeTitleDiv {
  height: 500px;
  background-image: url("images/mainUpper.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  font-size: 20px;
  text-align: center;
  color: #c0bff2;
  text-transform: uppercase;
}
/* END home screen style */

/* START login screen style */
.loginUsernameInput,
.loginPasswordInput {
  margin-top: 10px;
}
/* END login screen style */

/* START register screen style */
.registerInput {
  margin-top: 10px;
}
/* END register screen style */

/* START profile screen style */
.profilePic {
  width: 100px;
  height: 100px;
}
/* END profile screen style */

/* START poi list screen style */
.poiListDescription,
.poiListViewsNumber,
.poiListRank {
  font-size: 10px;
}
.poiListDescriptionTitle,
.poiListViewsNumberTitle,
.poiListRankTitle {
  font-size: 14px;
  color: #c0bff2;
}
.poiListTitle {
  font-size: 20px;
  color: #c0bff2;
}
.SinglePOIInList {
  background-color: azure;
  margin-top: 30px;
  box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.3);
  height: 600px;
  width: 400px;
  border: 3px solid #c0bff2;
}
.poiListImage {
  margin-top: 10px;
  width: 380px;
  height: 300px;
}

/* END profile screen style */

/* START single poi screen style */
.reviewInstruction {
  font-size: 10px;
  color: coral;
}
.newReviewDescription {
  width: 100%;
  height: 100px;
}
/* END single poi screen style */
