<div class="container-fluid mx-auto">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <form name="registerForm" ng-submit="submit()" novalidate>
        <!-- password -->
        <input
          class="form-control registerInput"
          placeholder="Password"
          type="password"
          name="password"
          ng-model="password"
          required
        />
        <span ng-show="registerForm.firstname.$error.required"
          >This is required!
        </span>
        <!-- firstname -->
        <input
          class="form-control registerInput"
          placeholder="Your First Name"
          type="text"
          name="firstname"
          ng-model="firstname"
          required
        />
        <span ng-show="registerForm.firstname.$error.required"
          >This is required!
        </span>
        <!-- lastname -->
        <input
          class="form-control registerInput"
          placeholder="Your Last Name"
          type="text"
          name="lastname"
          ng-model="lastname"
          required
        />
        <span ng-show="registerForm.lastname.$error.required"
          >This is required!
        </span>

        <!-- city -->
        <input
          class="form-control registerInput"
          placeholder="Your City"
          type="text"
          name="city"
          ng-model="city"
          required
        />
        <span ng-show="registerForm.city.$error.required"
          >This is required!
        </span>
        <!-- country -->
        <br />
        <select name="country" form="registerForm" ng-model="chosenCountry">
          <option value="">---Please select---</option>
          <!-- not selected / blank option -->
          <option
            ng-repeat="country in possibleCountries"
            value="{{ country['countryID'] }}"
            type="text"
          >
            {{ country["countryName"] }}
          </option>
        </select>

        <!-- email -->
        <input
          class="form-control registerInput"
          placeholder="Your Email"
          type="email"
          name="email"
          ng-model="email"
          required
        />
        <span ng-show="registerForm.email.$error.required"
          >This is required!
        </span>
        <br />
        <!-- categories -->
        <br /><label id="CategoriesAlert" style="font-size:10px"
          >Choose at list Two Categories</label
        ><br />
        <div class="form-check" ng-repeat="cat in possibleCategories">
          <input
            class="ChosenCategory form-check-input"
            name="{{ cat['categoryName'] }}"
            type="checkbox"
            id="{{ cat['categoryName'] }}"
            value="{{ cat['categoryName'] }}"
          />
          <label class="form-check-label" for="{{ cat['categoryName'] }}">
            {{ cat["categoryName"] }}
          </label>
        </div>

        <br />
        <!-- Q&A1 -->
        <div>
          <!-- question -->
          <select
            name="firstQuestion"
            form="registerForm"
            ng-model="firstQuestion"
          >
            <option value="">---Please select first question---</option>
            <!-- not selected / blank option -->
            <option
              ng-repeat="question in possibleQuestions"
              value="{{ question['questionBody'] }}"
              type="text"
            >
              {{ question["questionBody"] }}
            </option>
          </select>
          <input
            class="form-control registerInput"
            placeholder="Your Answer"
            type="text"
            name="firstAnswer"
            ng-model="firstAnswer"
            required
          />
        </div>
        <br />
        <!-- Q&A2 -->
        <div>
          <!-- question -->
          <select
            name="secondQuestion"
            form="registerForm"
            ng-model="secondQuestion"
          >
            <option value="">---Please select second question---</option>
            <!-- not selected / blank option -->
            <option
              ng-repeat="question in possibleQuestions"
              value="{{ question['questionBody'] }}"
              type="text"
            >
              {{ question["questionBody"] }}
            </option>
          </select>
          <input
            class="form-control registerInput"
            placeholder="Your Answer"
            type="text"
            name="secondAnswer"
            ng-model="secondAnswer"
            required
          />
        </div>

        <br />
        <!-- submit button -->
        <input
          class="btn btn-outline-primary"
          ng-disabled="registerForm.$invalid"
          type="submit"
          id="submit"
          value="Submit"
        />
      </form>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
